
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EchoView</title>
</head>
<body>
    <div>
        我是插件MyFirst的视图输出<br />
        <h1>哈哈哈哈</h1>
        <h1>哈哈哈哈</h1>
        <h1>哈哈哈哈</h1>
        <h1>哈哈哈哈</h1>
        <h1>哈哈哈哈</h1>
        <h1>哈哈哈哈</h1>
        <h1>哈哈哈哈</h1>
    </div>
</body>
</html>
